.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../img/edu.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-h {
    margin-top: 120px;
}